.App {
  text-align: center;
}
 
.row {
  margin: 0;
}
.header {
  color: white;
  background-color: rgb(136,149,153);
  font-size: 16px;
  padding: 10px 3px;
}
.row .item{
  border-radius: 50%;
  background-color: rgb(220,220,220);
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 10px 0 0px;
  text-align: center;
  line-height: 30px;
}
.row .item i{
  color: rgb(136,149,153); 
  font-size: 20px;
}
.row .bigitem{
  border-radius: 50%;
  background-color: rgb(220,220,220);
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px 10px 10px 0px;
  text-align: center;
  line-height: 50px;
  vertical-align: top;
}
.bigitem i{
  color: black;
  font-size: 40px;
  vertical-align: top;
}

thead {
  color: rgb(136,149,153); 
}

tbody tr {
  background-color: rgb(136,149,153);  
}

.btn-container {
  background-color: rgb(207, 216, 219);
  padding: 20px 10px 1px 10px;
}

.btn-container .button-wrap {
  padding: 0 3px;
}

.btn-container .button {
  width: 100%;
}

.search-container{ 
  background-color: white; 
  padding: 30px 10px;
}

.search-container .button{
  width: 100%;
  color: black;
}

.button::placeholder {
  color: rgb(139,145,154);
}

.search-container .proposal-btn{
  background-color: rgb(136,149,153);
  padding: 13px 15px 13px 10px;
  color: white;
  text-align: center;
}
input {
  background-color: rgb(243,243,243);
  color: black;
  border: none;
  padding: 10px;
  height:45px;
}
.cell-container{
  background-color: rgb(136,149,153); 
  margin-bottom: 1px;
}
.cell-container .item{
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 10px 10px 10px 0px;
  text-align: center;
  line-height: 30px;
}
.cell-container .item i{
  color: rgb(136,149,153); 
  font-size: 20px;
}
.cell-container .text{
  color: rgb(193,201,204);
  font-size: 20px;
  margin-left: 10px;
  display: inline-block;
}
.cell-container .icon{
  color: rgb(193,201,204);
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.a i{
  cursor: pointer;
}
 
.icon i {
  cursor: pointer;
}

.icon i:hover {
  color: white;

}


.App-title {
  color: white;
  width: 50%;
  text-align: left;
  font-size: 1.5em;
}

.text{
  height: 30px;
  line-height: 30px;
}
.text-right i {
  cursor: pointer;
}

.text-right i:hover {
  color: rgb(200,200,200);
}

.text-right .item {
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}
td {
  border-radius: 0;
  text-align: center;
}
td .item {
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}
.contract {
  background-color: rgb(200,200,200);
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid black

}

.circle {
  background-color: yellow;
  border-radius: 50%;
  width: 20px;
  border-width: 2px;
  display: inline-block;
  height: 20px;
}

.text-right .text {
  cursor: pointer;
  color: white;
  display: inline-block;
  margin-right: 20px;
}
.text-right .text:hover {
  color: rgb(200,200,200);
} 

.App-intro {
  font-size: large;
  background-color: black;
}
#header{
  color: black; 
  width: 100%;
  
}

.title {
  font-size: 30px;
  color: rgb(136,149,153);
}
.txtTop {
  font-size: 20px;
  color: rgb(136,149,153);
}
.bodys {
  padding: 20px;
}
div .continue {
  display: inline-block;
  color:  rgb(136,149,153);
  margin-top: 20px;
  vertical-align: top;
}
span {
  color: rgb(136,149,153);
}
.btn {
  background-color:  rgb(136,149,153);
}
.detail {
  margin: 10px 0px 20px 0px
}